.chart {
	--a8c--charts--leaderboard--bar--border-radius: 4px;

	width: 100%;
	flex: 1;
	justify-content: space-between;
}

.noData {
	padding: 40px 20px;
	color: var(--wp-admin-theme-color-darker-10, #1e1e1e);
}

.noDataText {
	margin: 0;
	font-size: 14px;
	color: var(--wp-admin-theme-color-darker-20, #757575);
}
